.login-container{
    height: 100vh;
    background-color: rgba(238, 240, 241, 1);
  }
  .main1 {
    height: 80vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* Keeps the text color as per your design */
  background-color: transparent !important; /* Ensures background is transparent */
  transition: background-color 5000s ease-in-out 0s; /* Prevents abrupt changes */
}
  .card{
    padding: 36px !important;
    border: 0px;
    border-radius: 30px !important;
    background-color: rgba(255, 255, 255, 1) !important;
  }
  .head{
    font-size: 47px;
  }
  .input-group-text{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 15px 0px 0px 15px;
    border-right: 0px !important;
  }
  .fm1{
    margin-bottom: 16px;
  }
  input{
    border-left: 0px !important;
    border-radius: 0px 15px 15px 0px;

  }
.form-label{
  font-size: 14px;
}  

  
  .btn-dark {
    border-radius: 5px;
    border-radius: 15px !important;
    font-size: 16px;
  }
  .fgtext{
font-size: 16px;
  }



  .form-control:focus {
    box-shadow: none;
    border-radius: 15px;
    border-color: rgba(205, 204, 203, 1);
    
  }