.otp-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
  }
  .main1 {
    height: 80vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cbbtn{
    border-radius: 12px !important;
  }
  .head{
    font-size: 47px;
  }
  .card{
    padding: 32px;
    border: 0px;
    border-radius: 30px !important;
  }
  .login-container{
    height: 100vh;
    background-color: rgba(238, 240, 241, 1);
  }
  .head1{
    font-size: 16px;
  }
  .txt{
    font-size: 14px;
  }
  .btn-secondary{
    border-radius: 15px;
    font-size: 16px !important;
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* Keeps the text color as per your design */
  background-color: transparent !important; /* Ensures background is transparent */
  transition: background-color 5000s ease-in-out 0s; /* Prevents abrupt changes */
}