<div class="main1">
    <div class="card card1">
        <div class="d-flex  align-items-center items justify-content-between ">
            <img src="images/logo.png" height="48px" width="150" alt="">
            <a routerLink="/pages/dashboard" 
               routerLinkActive="active-link" 
               [routerLinkActiveOptions]="{ exact: true }" 
               class="onestsemibold ">
                <span class="svg-icon">
                    <svg width="25" height="25" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5 32V25.5" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.79 12.3997L17.29 4.41972C18.006 3.87572 18.996 3.87572 19.71 4.41972L30.21 12.3997C30.708 12.7777 31 13.3677 31 13.9917V28.4997C31 30.7097 29.21 32.4997 27 32.4997H10C7.79 32.4997 6 30.7097 6 28.4997V13.9917C6 13.3657 6.292 12.7777 6.79 12.3997Z" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                        
                </span> 
               Dashboard
            </a>
            <a routerLink="/pages/project-building" 
               routerLinkActive="active-link" 
               [routerLinkActiveOptions]="{ exact: true }" 
               class="onestsemibold ">
                <span class="svg-icon">
                    <svg width="30" height="30" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 17.5C6.842 18.732 11.932 20.506 18.5 20.506C25.068 20.506 30.158 18.732 33 17.5" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.5 18.5V23" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13 9.5V4.5C13 3.396 13.896 2.5 15 2.5H22C23.104 2.5 24 3.396 24 4.5V9.5" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29 9.5H8C5.79086 9.5 4 11.2909 4 13.5V26.5C4 28.7091 5.79086 30.5 8 30.5H29C31.2091 30.5 33 28.7091 33 26.5V13.5C33 11.2909 31.2091 9.5 29 9.5Z" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                        
                </span> 
                Projects/Buildings
            </a>
            <a routerLink="/pages/clients" 
               routerLinkActive="active-link" 
               [routerLinkActiveOptions]="{ exact: true }" 
               class="onestsemibold ">
                <span class="svg-icon">
                    <svg width="30" height="30" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="svg-icon">
                        <g clip-path="url(#clip0_11149_10252)">
                            <path d="M25.1895 23.5H30.9995" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.0583 9.34005L17.5963 8.71405C17.0303 7.95005 16.1363 7.49805 15.1843 7.49805H12.2683C11.4923 7.49805 10.7463 7.80005 10.1863 8.33805L6.45228 11.938C6.31228 12.072 6.15628 12.184 5.98828 12.272" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 23.4994H8.52C9.126 23.4994 9.7 23.7754 10.08 24.2474L12.246 26.9454C13.438 28.4294 15.51 28.8694 17.202 27.9954L23.75 24.6094C25.972 23.4614 26.606 20.5774 25.072 18.6034L21.776 14.3594" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.0167 12.276C30.8467 12.188 30.6907 12.076 30.5507 11.94L26.8167 8.34C26.2567 7.802 25.5107 7.5 24.7347 7.5H21.1207C20.3127 7.5 19.5387 7.826 18.9727 8.406L13.9827 13.522C12.9867 14.542 12.9967 16.174 14.0047 17.182C14.8987 18.076 16.3047 18.198 17.3407 17.472L23.0007 13.502" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2 10.5H4C5.104 10.5 6 11.396 6 12.5V24.5C6 25.604 5.104 26.5 4 26.5H2" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35 10.5H33C31.896 10.5 31 11.396 31 12.5V24.5C31 25.604 31.896 26.5 33 26.5H35" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_11149_10252">
                                <rect width="36" height="36" fill="white" transform="translate(0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </span> 
                Clients
            </a>
        
            <a routerLink="/pages/all-users" 
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }" 
            class="onestsemibold ">
             <span class="svg-icon">
                <svg width="20" height="20" viewBox="0 0 35 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 11C14.9853 11 17 8.98528 17 6.5C17 4.01472 14.9853 2 12.5 2C10.0147 2 8 4.01472 8 6.5C8 8.98528 10.0147 11 12.5 11Z" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.5796 26.134C22.2536 25.552 23.1116 23.62 22.3116 22.038C20.4996 18.456 16.7896 15.998 12.4996 15.998C8.20963 15.998 4.49963 18.454 2.68763 22.038C1.88763 23.62 2.74363 25.552 4.41963 26.134C6.48163 26.85 9.23563 27.5 12.4996 27.5C15.7636 27.5 18.5176 26.85 20.5796 26.134Z" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.594 27.1567C28.11 26.9007 29.45 26.5267 30.58 26.1347C32.254 25.5527 33.112 23.6207 32.312 22.0387C30.752 18.9547 27.786 16.7047 24.252 16.1387" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.9648 10.72C21.4448 10.894 21.9588 11 22.4988 11C24.9848 11 26.9988 8.986 26.9988 6.5C26.9988 4.014 24.9848 2 22.4988 2C21.9588 2 21.4448 2.104 20.9648 2.28" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
             </span> 
            Users
         </a>


         <a routerLink="/pages/products" 
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }" 
            class="onestsemibold ">
             <span class="svg-icon">
                <svg width="20" height="20" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5 4.5V16.5" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M27 10.5H10C7.79086 10.5 6 12.2909 6 14.5V26.5C6 28.7091 7.79086 30.5 10 30.5H27C29.2091 30.5 31 28.7091 31 26.5V14.5C31 12.2909 29.2091 10.5 27 10.5Z" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.5 12.568L9.398 6.724C10.074 5.362 11.462 4.5 12.982 4.5H24.018C25.538 4.5 26.926 5.362 27.602 6.724L30.5 12.57" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11 25.5H15" stroke="#0F0F0F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                    
                    
             </span> 
             Products
         </a>
        
        
        
        </div>
    </div>
</div>
