.logincon{
    background-color: rgba(238, 240, 241, 1);
    height: 100vh;
  }
  .main1 {
    height: 80vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 1);
    border-radius: 30px !important; 
    padding: 36px 36px 36px 36px !important;
  }
  .input-group-text{
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(205, 204, 203, 1);

  }
  input{
    border: 1px solid rgba(205, 204, 203, 1);

    border-left: 0px;
    border-right: 0px;

  }
  input:focus{
    
    box-shadow: none;
    border: 1px solid rgba(205, 204, 203, 1);
    border-left: 0px;
    border-right: 0px;
  }
  .btn-dark{
    font-size: 16px;
    border-radius: 15px;
  }