123456
7
<div class="" style="padding: 24px; background:#EEF0F1; min-height: 100vh; padding-bottom:10px">
  <app-topbar heading="Projects and Buildings"></app-topbar>
  <app-navbar/>
  <div *ngIf="projectId">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h3>Project Reports</h3>
      <button type="button" class="btn me-4" style="background: black; color:white; height:56px; width:128px; border-radius:20px" (click)="openRightModal()"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.25 8.75H14.75C14.8879 8.75 15 8.86214 15 9C15 9.13786 14.8879 9.25 14.75 9.25H3.25C3.11214 9.25 3 9.13786 3 9C3 8.86214 3.11214 8.75 3.25 8.75Z" fill="#0F0F0F" stroke="white"/>
<path d="M9 15.5C8.586 15.5 8.25 15.164 8.25 14.75V3.25C8.25 2.836 8.586 2.5 9 2.5C9.414 2.5 9.75 2.836 9.75 3.25V14.75C9.75 15.164 9.414 15.5 9 15.5Z" fill="white"/>
</svg>
Report</button>
    </div>
    <div *ngIf="reports.length > 0; else noReports" class="report-cards">
      <div class="card col-2" *ngFor="let report of reports">
        <div class="card-body text-center">
          <svg width="36" height="42" viewBox="0 0 36 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.33398 15H14.6673" stroke="#212121" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.33398 23H26.6673" stroke="#212121" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.33398 31H26.6673" stroke="#212121" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.33398 35.0001V7.00008C1.33398 4.05341 3.72065 1.66675 6.66732 1.66675H21.5633C22.27 1.66675 22.95 1.94675 23.4487 2.44808L33.886 12.8854C34.3873 13.3867 34.6673 14.0641 34.6673 14.7707V35.0001C34.6673 37.9467 32.2806 40.3334 29.334 40.3334H6.66732C3.72065 40.3334 1.33398 37.9467 1.33398 35.0001Z" stroke="#212121" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M34.428 13.6667H25.3346C23.8626 13.6667 22.668 12.4721 22.668 11.0001V1.93872" stroke="#212121" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p class="card-text">{{ report.coverLetter.reportTitle }}</p>
        </div>
      </div>
    </div>
    <ng-template #noReports>
      <p>No reports found for this project.</p>
    </ng-template>
    <div class="button-group"></div>
  </div>
  <div *ngIf="!projectId">
    <p>No project ID provided in route</p>
    <p><strong>Project ID (from service):</strong> {{ serviceProjectId || 'Not set in service' }}</p>
  </div>
  <div #rightModal class="modal fade right-modal" id="rightModal" tabindex="-1" aria-labelledby="rightModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right" style="margin: 0; position: fixed; right: 0; top: 0; bottom: 0; width: 600px; ">
      <div class="modal-content" style="border-top-left-radius: 20px;background:#EEF0F1; border-bottom-left-radius: 20px; height: 100%;">
        <div class="modal-header" style="position: sticky;background:#EEF0F1; top: 0; z-index: 1; ">
          <h5 class="modal-title" id="rightModalLabel">Report</h5>
          <button type="button" class="btn-close" (click)="closeRightModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="overflow-y: auto;">
          <form *ngIf="projectAttributes">
            <div class="form-group">
              <div class="field-group d-flex m1" style="align-items: flex-end;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="reportType" style="margin-bottom: 5px;">Report Type</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="reportTypeToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center; position: relative;">
                      <span>{{ selectedAttributes['Report Type'] || 'Select Report Type' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="reportTypeToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Report Type'] = 'standard'">Standard Reports</button></li>
                      <li><button class="dropdown-item" (click)="selectedAttributes['Report Type'] = 'excel'">Excel Reports</button></li>
                      <li><button class="dropdown-item" (click)="selectedAttributes['Report Type'] = '2dPlans'">2D Plans</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="subCategory" style="margin-bottom: 5px;">Sub-category</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="subCategoryToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center; position: relative;">
                      <span>{{ selectedAttributes['Sub-category'] || 'Select Sub-category' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="subCategoryToggle">
                      <li *ngFor="let category of subCategoryOptions"><button class="dropdown-item" (click)="addSubCategory(category)">{{ category }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-3 d-flex align-items-center">
              <input type="checkbox" style="height: 20px; width:20px; accent-color:black" class="me-3 ms-2" (change)="toggleSelectAll($event)"> Select All
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="productNameCheck" 
                  [(ngModel)]="selectedAttributes['Product Name']" 
                  name="productNameCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="productName" style="margin-bottom: 5px;">Product Name</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="productNameToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Product Name'] || 'Select a product' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="productNameToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Product Name'] = ''; updateApprovalDocuments()">Select a product</button></li>
                      <li *ngFor="let product of products"><button class="dropdown-item" (click)="selectedAttributes['Product Name'] = product.name; updateApprovalDocuments()">{{ product.name }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="approvalCheck" 
                  [(ngModel)]="selectedAttributes['Approval']" 
                  name="approvalCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="approval" style="margin-bottom: 5px;">Approval</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="approvalToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Approval'] || 'Select an approval document' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="approvalToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Approval'] = ''">Select an approval document</button></li>
                      <li *ngFor="let doc of selectedApprovalDocuments"><button class="dropdown-item" (click)="selectedAttributes['Approval'] = doc.name">{{ doc.name }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="buildingCheck" 
                  [(ngModel)]="selectedAttributes['Building']" 
                  name="buildingCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="building" style="margin-bottom: 5px;">Building</label>
                  <input type="text" id="building" class="form-control" [(ngModel)]="selectedAttributes['Building']" name="building" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="levelCheck" 
                  [(ngModel)]="selectedAttributes['Level']" 
                  name="levelCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="level" style="margin-bottom: 5px;">Level</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="levelToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Level'] || 'Select a level' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="levelToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Level'] = ''">Select a level</button></li>
                      <li *ngFor="let level of hierarchyLevels"><button class="dropdown-item" (click)="selectedAttributes['Level'] = level">{{ level }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="itemCheck" 
                  [(ngModel)]="selectedAttributes['Item #']" 
                  name="itemCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="item" style="margin-bottom: 5px;">Item #</label>
                  <input type="text" id="item" class="form-control" [value]="getAttributeValue('Item #')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="testReferenceCheck" 
                  [(ngModel)]="selectedAttributes['Test Reference']" 
                  name="testReferenceCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="testReference" style="margin-bottom: 5px;">Test Reference</label>
                  <input type="text" id="testReference" class="form-control" [value]="getAttributeValue('Test Reference')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="locationCheck" 
                  [(ngModel)]="selectedAttributes['Location']" 
                  name="locationCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="location" style="margin-bottom: 5px;">Location</label>
                  <input type="text" id="location" class="form-control" [value]="getAttributeValue('Location')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="frlCheck" 
                  [(ngModel)]="selectedAttributes['FRL']" 
                  name="frlCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="frl" style="margin-bottom: 5px;">FRL</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="frlToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['FRL'] || 'Select FRL' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="frlToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['FRL'] = ''">Select FRL</button></li>
                      <li *ngFor="let option of attributeOptions['FRL']"><button class="dropdown-item" (click)="selectedAttributes['FRL'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="barrierCheck" 
                  [(ngModel)]="selectedAttributes['Barrier']" 
                  name="barrierCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="barrier" style="margin-bottom: 5px;">Barrier</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="barrierToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Barrier'] || 'Select Barrier' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="barrierToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Barrier'] = ''">Select Barrier</button></li>
                      <li *ngFor="let option of attributeOptions['Barrier']"><button class="dropdown-item" (click)="selectedAttributes['Barrier'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="descriptionCheck" 
                  [(ngModel)]="selectedAttributes['Description']" 
                  name="descriptionCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="description" style="margin-bottom: 5px;">Description</label>
                  <input type="text" id="description" class="form-control" [value]="getAttributeValue('Description')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="installerCheck" 
                  [(ngModel)]="selectedAttributes['Installer']" 
                  name="installerCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="installer" style="margin-bottom: 5px;">Installer</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="installerToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Installer'] || 'Select Installer' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="installerToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Installer'] = ''">Select Installer</button></li>
                      <li *ngFor="let option of attributeOptions['Installer']"><button class="dropdown-item" (click)="selectedAttributes['Installer'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="inspectorCheck" 
                  [(ngModel)]="selectedAttributes['Inspector']" 
                  name="inspectorCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="inspector" style="margin-bottom: 5px;">Inspector</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="inspectorToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Inspector'] || 'Select Inspector' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="inspectorToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Inspector'] = ''">Select Inspector</button></li>
                      <li *ngFor="let option of attributeOptions['Inspector']"><button class="dropdown-item" (click)="selectedAttributes['Inspector'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="safetyMeasuresCheck" 
                  [(ngModel)]="selectedAttributes['Safety Measures']" 
                  name="safetyMeasuresCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="safetyMeasures" style="margin-bottom: 5px;">Safety Measures</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="safetyMeasuresToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Safety Measures'] || 'Select Safety Measures' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="safetyMeasuresToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Safety Measures'] = ''">Select Safety Measures</button></li>
                      <li *ngFor="let option of attributeOptions['Safety Measures']"><button class="dropdown-item" (click)="selectedAttributes['Safety Measures'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="relevanceCheck" 
                  [(ngModel)]="selectedAttributes['Relevance to Building Code']" 
                  name="relevanceCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="relevance" style="margin-bottom: 5px;">Relevance to Building Code</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="relevanceToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Relevance to Building Code'] || 'Select Relevance' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="relevanceToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Relevance to Building Code'] = ''">Select Relevance</button></li>
                      <li *ngFor="let option of attributeOptions['Relevance to Building Code']"><button class="dropdown-item" (click)="selectedAttributes['Relevance to Building Code'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="complianceCheck" 
                  [(ngModel)]="selectedAttributes['Compliance']" 
                  name="complianceCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="compliance" style="margin-bottom: 5px;">Compliance</label>
                  <div class="custom-dropdown">
                    <button type="button" class="dropdown-toggle form-control" id="complianceToggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                      <span>{{ selectedAttributes['Compliance'] || 'Select Compliance' }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="complianceToggle">
                      <li><button class="dropdown-item" (click)="selectedAttributes['Compliance'] = ''">Select Compliance</button></li>
                      <li *ngFor="let option of attributeOptions['Compliance']"><button class="dropdown-item" (click)="selectedAttributes['Compliance'] = option">{{ option }}</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="commentsCheck" 
                  [(ngModel)]="selectedAttributes['Comments']" 
                  name="commentsCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="comments" style="margin-bottom: 5px;">Comments</label>
                  <input type="text" id="comments" class="form-control" [value]="getAttributeValue('Comments')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="notesCheck" 
                  [(ngModel)]="selectedAttributes['Notes']" 
                  name="notesCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="notes" style="margin-bottom: 5px;">Notes</label>
                  <input type="text" id="notes" class="form-control" [value]="getAttributeValue('Notes')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="timeCheck" 
                  class="form-check-input" 
                  [(ngModel)]="selectedAttributes['Time']" 
                  name="timeCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black !important; appearance: auto !important;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="time" style="margin-bottom: 5px;">Time</label>
                  <input type="text" id="time" class="form-control" [value]="getAttributeValue('Time')" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group m1">
              <div class="field-group d-flex" style="align-items: flex-end;">
                <input 
                  type="checkbox" 
                  id="priceExcludingGSTCheck" 
                  class="form-check-input ip2" 
                  [(ngModel)]="selectedAttributes['Price Excluding GST']" 
                  name="priceExcludingGSTCheck" 
                  style="width: 20px; height: 20px; margin-right: 10px; accent-color: black !important; appearance: auto !important;">
                <div class="d-flex flex-column" style="flex: 1;">
                  <label for="priceExcludingGST" style="margin-bottom: 5px;">Price Excluding GST</label>
                  <input type="text" id="priceExcludingGST" class="form-control" [value]="getAttributeValue('Price Excluding GST')" style="width: 100%;">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="position: sticky; bottom: 0; background: #EEF0F1;">
          <button type="button" class="btn btn-primary" style="width: 100%; background:rgba(255, 255, 255, 0);border:1px solid black; color:black; height: 56px; border-radius: 20px;" (click)="goToCoverLetter()">Cover Letter</button>
          <button type="button" class="btn btn-primary" style="width: 100%; height: 56px; border-radius: 20px; background:black;border:0px !important" (click)="generateReport()">Generate Report</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-foot/>